# Analyzing New York City (NYC) COVID-19 Mortality Data by Borough
## Description to go here tbd

<b>Import Required Libraries:</b> The first step of coding is to import the required libraries such as Pandas, NumPy, and Matplotlib. These libraries provide useful functions for data analysis and visualization.

In [1]:
import pandas as pd
import matplotlib as plt

**Load the dataset:** Use the Pandas library to load the dataset into a Pandas DataFrame object

In [2]:
deaths_by_day = pd.read_csv('/Users/emily/Downloads/deaths-by-day.csv')

**Explore the dataset:**

In [4]:
deaths_by_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172 entries, 0 to 1171
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date_of_interest         1172 non-null   object
 1   DEATH_COUNT              1172 non-null   int64
 2   DEATH_COUNT_7DAY_AVG     1172 non-null   int64
 3   BX_DEATH_COUNT           1172 non-null   int64
 4   BX_DEATH_COUNT_7DAY_AVG  1172 non-null   int64
 5   BK_DEATH_COUNT           1172 non-null   int64
 6   BK_DEATH_COUNT_7DAY_AVG  1172 non-null   int64
 7   MN_DEATH_COUNT           1172 non-null   int64
 8   MN_DEATH_COUNT_7DAY_AVG  1172 non-null   int64
 9   QN_DEATH_COUNT           1172 non-null   int64
 10  QN_DEATH_COUNT_7DAY_AVG  1172 non-null   int64
 11  SI_DEATH_COUNT           1172 non-null   int64
 12  SI_DEATH_COUNT_7DAY_AVG  1172 non-null   int64
 13  INCOMPLETE               7 non-null      float64
dtypes: float64(1), int64(12), object(1)
memory usage: 128.3+ KB

In [5]:
deaths_by_day.head()

,date_of_interest,DEATH_COUNT,DEATH_COUNT_7DAY_AVG,BX_DEATH_COUNT,BX_DEATH_COUNT_7DAY_AVG,BK_DEATH_COUNT,BK_DEATH_COUNT_7DAY_AVG,MN_DEATH_COUNT,MN_DEATH_COUNT_7DAY_AVG,QN_DEATH_COUNT,QN_DEATH_COUNT_7DAY_AVG,SI_DEATH_COUNT,SI_DEATH_COUNT_7DAY_AVG,INCOMPLETE
0,02/29/2020,0,0,0,0,0,0,0,0,0,0,0,0,NaN
1,03/01/2020,0,0,0,0,0,0,0,0,0,0,0,0,NaN
2,03/02/2020,0,0,0,0,0,0,0,0,0,0,0,0,NaN
3,03/03/2020,0,0,0,0,0,0,0,0,0,0,0,0,NaN
4,03/04/2020,0,0,0,0,0,0,0,0,0,0,0,0,NaN

In [6]:
deaths_by_day.tail()

,date_of_interest,DEATH_COUNT,DEATH_COUNT_7DAY_AVG,BX_DEATH_COUNT,BX_DEATH_COUNT_7DAY_AVG,BK_DEATH_COUNT,BK_DEATH_COUNT_7DAY_AVG,MN_DEATH_COUNT,MN_DEATH_COUNT_7DAY_AVG,QN_DEATH_COUNT,QN_DEATH_COUNT_7DAY_AVG,SI_DEATH_COUNT,SI_DEATH_COUNT_7DAY_AVG,INCOMPLETE
1167,05/11/2023,1,1,0,0,0,0,1,0,0,0,0,0,800.0
1168,05/12/2023,3,1,0,0,0,0,0,0,3,1,0,0,800.0
1169,05/13/2023,1,1,0,0,0,0,0,0,0,1,1,0,800.0
1170,05/14/2023,0,1,0,0,0,0,0,0,0,1,0,0,800.0
1171,05/15/2023,1,1,0,0,0,0,0,0,1,1,0,0,800.0